/*body {
    font-family: 'cursive', sans-serif !important;
    color: #9ee99ee1;
  }*/

  .jumbotron {
    background-image: url("../images/bacteria.PNG");
    background-size: 100% 100%;
    text-align: center;
    font-family: 'cursive', sans-serif !important;
    color: #e8f7fa;
  }

  .font { font-family: 'Gill Sans', sans-serif;font-size:14px; }

  .info {font-family: 'Gill Sans';font-size:12px;font-weight: 900;}